$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$primary-background-color: #FAEDCD;
$secondary-background-color: #809250;
$tertiary-background-color: #D4A373;
$global-text-color: black;
$secondary-text-color: white;
$label-color: #158463;
$error-state-color: #c94515;
$box-shadow: rgba(19, 24, 44, 0.1);
$button-primary-color: #CDAA7D;
$button-secondary-color: #E9EDC9;    