@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.book-details {
  background-color: $tertiary-background-color;
  margin: -3.5rem 1rem 0.3125rem;
  border-radius: 1.5625rem;
  box-shadow: 0 0.125rem 0.3125rem $box-shadow;
  padding: 1.5rem;

  @include responsive(tablet){
      margin: -5.625rem 2rem 0;
      padding: 2rem;
  }

  @include responsive(desktop){
      margin: -5.625rem 8.125rem 0;
      padding: 2.5rem;
  }

  &__header {
    // padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  &__back {
    text-decoration: none;
    color: $global-text-color;
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

    @include responsive(tablet) {
      flex-direction: row;
      text-align: left;
      gap: 2rem;
    }

  }

  &__cover {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px $box-shadow;
    background: $secondary-background-color;
  }

  &__info {
    margin: 1.5rem 0;
    padding: 1rem;
    background: $button-secondary-color;
    border-radius: .5rem;
    box-shadow: 0 2px 4px $box-shadow;

    @include responsive(tablet) {
      
    }

    p {
      margin: 0.5rem 0;
    }
  }

  &__owner {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    background: $home-background-color;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px $box-shadow;

    @include responsive(tablet) {
    }
  }

  &__owner-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__owner-avatar {
    width: 50px;
    height: 50px;
    background: $global-text-color;
    color: $secondary-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
  }

  &__rent {
    margin-top: 1rem;
    background: $button-primary-color;
    color: $global-text-color;
    padding: 0.7rem;
    border: none;
    border-radius: 1.25rem; 
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
     transition: background 0.3s;

    @include responsive(tablet) {
      width: auto;
      padding: 0.5rem 1rem;
    }

    &:hover {
      background-color: $background-color;
    }
  }

  &__loading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
