@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  
    &__hexagon {
      width: 150px;
      height: 170px;
      background-color: #FFC107;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  
    &__cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    &__details {
      margin-top: 10px;
      text-align: center;
    }
  
    &__title {
      font-size: 16px;
      font-weight: bold;
    }
  
    &__status, &__address {
      font-size: 14px;
      color: #555;
    }
  }