@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
// Sass function to calculate the Y translation
@function translateYValue($n) {
    @return -120px * ($n - 1);
  }
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 20px;
    position: relative;
  }
  
  // Position each book dynamically using a loop
  .book-container {
    position: relative;
    
    @include responsive(tablet){
    @for $i from 2 through 38 { // Adjust 10 to the max number of books you expect
      &:nth-child(#{$i}) {
        transform: translateY(translateYValue($i));
      }
    }
    }
  }
  
  // Offset every 2nd book horizontally for honeycomb effect
 
  // Responsive adjustments for tablets
  @media (min-width: 768px) {
    .books-grid {
      grid-template-columns: repeat(1, 1fr);
    }

    .book-container.shifted {
        transform: translate3d(160px, -120px, 10px);

        @for $i from 2 through 38 { // Adjust 10 to the max number of books you expect
            &:nth-child(#{$i}) {
              transform: translate3d(160px, translateY(translateYValue($i)), 10px);
            }
      }
    }
  }
  
  // Responsive adjustments for desktop view
  @media (min-width: 1024px) {
    .books-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  