@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

$shift: 150px;

.books-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;

  &--mybooks {
    padding: 1.5rem;
  }

  @include responsive(tablet) {
    position: relative;
    left: calc(-1 * $shift / 2);

    &--mybooks {
      height: auto;
      padding: 2rem;
    }
  }

  @include responsive(desktop) {
    grid-template-columns: max-content max-content;
  }
}

.book-container {
  @include responsive(tablet) {
    height: 264px;
    position: relative;
    &:nth-child(even) {
      left: $shift;
    }
  }

  @include responsive(desktop) {
    &:nth-child(even) {
      left: 0;
    }
    &:nth-child(4n-1),
    &:nth-child(4n) {
      left: $shift;
    }
  }
}
