@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@function translateYValue($n) {
    @return (-120px * ($n - 1)) + $n*10px;
  }
@function translateYValueDesk($n) {
    @return (-120px * ($n - 1));
}
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 20px;
    position: relative;
    &--mybooks {
      padding: 1.5rem;
    }
  }
  .book{
    margin: .9375rem 0;
  }
 
  .book-container {
    position: relative;
  }
  
 
  // Responsive adjustments for tablets
  @include responsive(tablet) {
    .books-grid {
      grid-template-columns: repeat(1, 1fr);
      height: 627.5rem;

      &--mybooks {
        height: auto;
        padding: 2rem;
      }
    }

    .book-container.shifted {
        transform: translate3d(160px, -110px, 10px);

        @for $i from 2 through 41 { 
            &:nth-child(#{$i}) {
              transform: translate3d(150px, translateYValue($i), 10px);
            }
      }
    }

    .book-container {
      @for $i from 2 through 41 { 
        &:nth-child(#{$i}) {
          transform: translateY(translateYValue($i));
        }
      }
    }
  }
  
  // Responsive adjustments for desktop view
  @include responsive(desktop) {
    .books-grid {
      grid-template-columns: repeat(2, 1fr);
      &--mybooks {
        height: auto;
        padding: 2.5rem;
      }
    }

    .book-container.shifted {
      @for $i from 2 through 41 {   
        @if (($i - 2) % 4 == 0 or ($i - 6) % 12 == 0) { 
            &:nth-child(#{$i}) {
                transform: translate3d(-200px, -($i - 2)*120px, 10px);
            }
        }
    }
    @for $i from 4 through 41 {
      @if (($i - 4) % 4 == 0 or ($i - 8) % 12 == 0) { 
          &:nth-child(#{$i}) {
              transform: translate3d(-40px, -($i - 2)*120px, 10px);
          }
      }
    }
  }

  .book-container {
      @for $i from 2 through 41 { 
        &:nth-child(#{$i}) {
          transform: translateY(translateYValueDesk($i));
        }
      }

      @for $i from 3 through 41 {
        @if (($i - 3) % 4 == 0 or ($i - 7) % 12 == 0) { 
            &:nth-child(#{$i}) {
                transform: translate3d(160px, translateYValueDesk($i), 10px);
            }
        }
      }
    
  }
}