@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header{
    padding: 1.5rem 1rem 0;
    background-color: $secondary-background-color;
    width: 100%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @include responsive(tablet){
        padding: 2rem 2rem 0;
        height: 11.625rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    @include responsive(desktop){
        padding: 2rem 8.125rem 0;
    }


    &__logo{    
        width: 7.5rem;
        height: 2.5rem;
        border-radius: .625rem;
    }

    &__nav-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        align-items: center;

        @include responsive(tablet){
            justify-content: flex-end;
            gap: 1.5rem;
        }
    }

    &__container{
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @include responsive(tablet){
            gap: 1.5rem;
        }
    }

    &__profile{
        padding: 0;
    }

    &__login {
        background-color: $button-primary-color;
        padding: .5rem 1rem;
        border-radius: 1.25rem;
        border: .125rem solid $global-text-color;
    }

    &__container > span{
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: $global-text-color;
    }
}